.card__filter {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.card__filter--active {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(10, 10, 10, 0.5);
  }
}

.filter__btn-list {
  @extend %list;
  display: flex;
  justify-content: space-around;
}

.filter__btn {
  text-transform: uppercase;
  border-radius: 2px;
  outline: 0;
  border: 0;
  background: #649b5c;
  font-weight: bold;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &:hover {
    background: #557431;
  }
}
