.card__filter {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    display: block;
    width: 210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
}

.card__filter--active {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.modal-wrap {
  @media (max-width: 767px) {
    max-width: 460px;
    padding: 25px 50px;
    margin: 0 auto;
    background-color: rgba(10, 10, 10, 0.75);
    color: #ffffff;
  }
}

.filter__section {
  margin-bottom: 15px;
}

.filter__title {
  text-transform: uppercase;
  margin: 0;
}

.filter__list {
  @extend %list;

  &--btn {
    display: flex;
    justify-content: space-around;
  }
}

.filter__btn {
  text-transform: uppercase;
  border-radius: 2px;
  outline: 0;
  border: 0;
  background: #649b5c;
  font-weight: bold;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &:hover {
    background: #557431;
  }
}
