.services__title {
  position: relative;
  font-family: $title-font;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: $primary-title-color;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-left: 25px;;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 35px;
    background-color: $secondary-bg-color1;
  }
}