.team__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: $primary-title-color;
  margin: 0;
  padding: 0;
}

.team__list {
  @extend %list;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}

.team__item {
  width: 260px;
  background-color: $secondary-bg-color1;

  @media (max-width: 767px) {
    margin: 0 auto;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 1200px) {
    &:nth-last-child(-n + 4) {
      margin-bottom: 0px;
    }
  }
}

.team__name {
  font-family: $title-font;
  font-size: 16px;
  line-height: 35px;
  color: $primary-title-color;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.team__position {
  font-family: $text-font;
  font-size: 14px;
  line-height: 26px;
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}