// fonts

$text-font: 'Open Sans', sans-serif;
$title-font:'Quattrocento Sans', sans-serif;

// colors

$primary-text-color:#8d8f92;
$secondary-text-color1:#ccd0d7;
$secondary-text-color2:#dcdfe1;

$primary-title-color:#292f36;
$secondary-title-color:#ffffff;

$menu-color: #a4aead;
$accent-color:#23b7a4;

// bg-color

$menu-bg-color:#1d2126;
$primary-bg-color:#ffffff;
$secondary-bg-color:#3a454d;